.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  
.container .qwe{
    margin-left:-100px;
    font-family:"brandon-bold",Helvetica,sans-serif;
}
.btn1 {
    margin-right: -200px;
    padding:5px 20px;
    background-color: #41cd8c;
    border-radius: 4px;
    border: #41cd8c;
}
.btn{
    margin-right: 15px;
    padding:5px 20px;
}
.container-fluid {
    background-color:#41cd8c;
    text-align: center;

}
.grid{
    text-align: center;
    box-sizing: border-box;
    padding:20px;
    display:flex;
    justify-content: space-between;
    color: white;
    width:100%;

}

.aa .asd{
    font-size:80px;
    font-family:"brandon-bold",Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 100px;
}
.aa .qwe{
    font-size:20px;
    font-family:Helvetica,sans-serif;
    margin-left:100px;
}
.aa .btn{
    margin-left: 100px;
    background-color:#41cd8c;
    color:white;
    padding: 14px 50px;
    font-size: 15px;
    font-weight: bold;
}

.aa .im{
    margin-left:700px;
    margin-top: -400px;
}
.section-exercise .qwet{
    margin-left: 800px;
    font-size: 18px;
}
.section-exercise .asdp{
    margin-left:800px;
    font-size:50px;
    font-family:"brandon-bold",Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 140px;
    margin-right:175px;
}
.section-exercise .we{
    margin-left: 800px;
   font-size: 18px;
}
.section-exercise .er{
    margin-left: 800px;
    font-size: 18px;
}
.section-exercise .qa{
    margin-top:200px ;
    margin-bottom: -100px;
    text-align: right;
    margin-right:690px;
    font-size: 20px;
    font-weight: bold;
}
.section-exercise .im1{
    margin-right:800px;
    margin-top: -400px;
    margin-left: 120px;
}
.section-sleep .asd{
    font-size:50px;
    font-family:"brandon-bold",Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 170px;
}
.section-sleep .qwe{
    font-size:18px;
    font-family:Helvetica,sans-serif;
    margin-left: 170px;
    font-weight:lighter;
}
.section-sleep .btn{
    margin-left: 170px;
    margin-top: 30px;
    background-color:#41cd8c ;
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 50px;

}
.section-sleep .im2{
    margin-left:800px;
    margin-top: -400px;
}
.section-sleep .qa
{
    margin-top:300px;
    margin-bottom: -250px;
    text-align: left;
    margin-left:170px;
    font-size: 20px;
    
}
.section-music .qa{
    font-size: 20px;
    margin-top:300px ;
    margin-bottom: -100px;
    margin-left:840px;
    font-weight: bold;
}
.section-music .asdp{
    margin-left: 840px;
    font-size:50px;
    font-family:"brandon-bold",Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 140px;
}
.section-music .qwet{
    margin-left: 840px;
    font-size: 18px;
}
.section-music .im1{
    margin-right:800px;
    margin-top: -400px;
    margin-left: 120px;
}
.section-meditation .im2{
    margin-right:800px;
    margin-top: -10px;
    margin-left: 800px;
}
.section-meditation .qa
{
    margin-top:300px;
    margin-bottom: -250px;
    text-align: left;
    margin-left:170px;
    font-size: 20px;
    
}
.section-meditation .asd{
    font-size:50px;
    font-family:"brandon-bold",Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 170px;
}
.section-meditation .qwe{
    font-size:18px;
    font-family:Helvetica,sans-serif;
    margin-left: 170px;
    font-weight:lighter;
}
.section-meditation .btn{
    margin-left: 170px;
    margin-top: 30px;
    background-color:#41cd8c ;
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 50px;

}
.section-meditation .im2{
    margin-left:800px;
    margin-top: -490px;
}